doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1=pageTitle
            nav
                ul
                    li
                        a(href="/video/upload") Upload Video
        main
        block content
            h2 Welcome here you will see the trending videos
    include partials/footer